
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="text">登录</div>
            <div class="form-item">
                <input type="text" id="Text1" placeholder="用户名">
                <input type="password" id="password" placeholder="密码">
            </div>
            <div class="btn" onclick="LoginIndex()">登录</div>
            <div class="btn-back"></div>
            <div class="other">
                没有账号？<a href="#" onclick="Zhu()">去注册</a>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function LoginIndex() {
        var obj = {};
        obj.ClienteleRegister = $("#Text1").val();
        obj.ClientelePassword = $("#password").val();
        $.ajax({
            url: "http://localhost:58531/api/ClienteleIds/Login",
            data: JSON.stringify(obj),
            dataType: "json",
            type: "post",
            contentType: 'application/json;charset:UTF-8',
            success: function (d) {
                if (d>0) {
                    alert("成功");
                }
                else {
                    alert("失败");
                }
            }

        })
    }
    function lian() {
        alert("请拨打客服电话：1760077593");
    }
    function Zhu() {
        location.href = '/Clienr/ReIndex';
    }

</script>
