
@{
    ViewData["Title"] = "ReIndex";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>客户姓名</td>
            <td><input id="Text2" type="text" /></td>
        </tr>
        <tr>
            <td>客户昵称</td>
            <td><input id="Text3" type="text" /></td>
        </tr>
        <tr>
            <td>客户手机号</td>
            <td><input id="Text4" type="text" /></td>
        </tr>
        <tr>
            <td>客户头像</td>
            <td><input id="Text5" type="text" /></td>
        </tr>
        <tr>
            <td>手机号验证</td>
           <td><input id="Text6" type="text" /></td>
        </tr>
        <tr>
            <td><input id="Button1" type="button" value="注册" onclick="LoIndex()" /></td>
            <td><input id="Button1" type="button" value="手机号验证" onclick="Duan()" /></td>
        </tr>
    </thead>
</table>
<script>
    function LoIndex() {
        var obj = {};
        obj. ClienteleName     = $("#Text2").val();
        obj. ClienteleNickName = $("#Text3").val();
        obj. ClientelePhone    = $("#Text4").val();
        obj. ClientelePicture = $("#Text5").val();
        //var list = {
        //    ClienteleId      :ClienteleId      ,
        //    ClienteleName    :ClienteleName    ,
        //    ClienteleNickName:ClienteleNickName,
        //    ClientelePhone   :ClientelePhone   ,
        //    ClientelePicture :ClientelePicture 
        //};
        //$.post('http://localhost:58531/api/ClienteleIds/ResIndex', list, function (d) {
        //    if (d) {
        //        alert("添加成功");
        //    }
        //    else {
        //        alert("添加失败");
        //    }
        //})
        $.ajax({
            url: "http://localhost:58531/api/ClienteleIds/ResIndex",
            data: JSON.stringify(obj),
            dataType: "json",
            type: "post",
            contentType: 'application/json;charset:UTF-8',
            //contentType: 'application/x-www-form-urlencoded',
            //accepts: "application/x-www-form-urlencoded",
            success: function (d) {
                if (d) {
                    alert("注册成功");
                }
                else {
                    alert("注册失败");
                }
            }
        })
        
    }
    function Duan() {
        
        $.ajax({
            url: "http://localhost:58531/api/ClienteleIds/Duan",
            dataType: "json",
            type: "get",
            contentType: 'application/json;charset:UTF-8',
            //contentType: 'application/x-www-form-urlencoded',
            //accepts: "application/x-www-form-urlencoded",
            success: function (d) {
                if (d) {
                    alert("注册成功");
                }
                else {
                    alert("注册失败");
                }
            }
        })
    }
</script>
