
@{
    ViewData["Title"] = "ReIndex";
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="text">注册</div>
            <div class="form-item">
                <input type="text" id="Text2" placeholder="用户名">
                <input type="text" id="Text3" placeholder="昵称">
                <input type="password" id="Text4" placeholder="密码">
                @*<input type="file" id="Text7" placeholder="头像" class="btn">*@
                <input id="ss" type="hidden" />
                <input type="text" id="Text6" placeholder="手机号">
                <input type="text" id="yzm" placeholder="验证码">
            </div>
            <div>
            <input id="btn" type="button" value="获取验证码"  class="btn" onclick="settimes()" />
            </div>
            <div class="btn" onclick="LoIndex()">注册</div>
            <div class="btn-back"></div>
        </div>
    </div>
</body>
</html>
<script>
    function LoIndex() {
        if ($("#yzm").val() == $("#ss").val()) {
            var obj = {};
            obj.ClienteleRegister = $("#Text2").val();
            obj.ClienteleName = $("#Text2").val();
            obj.ClienteleNickName = $("#Text3").val();
            obj.ClientelePassword = $("#Text4").val();
            obj.ClientelePhone = $("#Text6").val();
            $.ajax({
                url: "http://localhost:58531/api/ClienteleIds/ResIndex",
                data: JSON.stringify(obj),
                dataType: "json",
                type: "post",
                contentType: 'application/json;charset:UTF-8',
                //contentType: 'application/x-www-form-urlencoded',
                //accepts: "application/x-www-form-urlencoded",
                success: function (d) {
                    if (d) {
                        alert("注册成功");
                        location.href = "LoIndex";
                    }
                    else {
                        alert("注册失败");
                    }
                }
            })
        }
        else {
            alert("验证失败");
        }
        

    }
    function settimes() {
        var a = $("#Text6").val();
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (!myreg.test(a)) {
            alert('请输入正确的手机号');
            return;
        } else {
            $.ajax({
                url: "/Clienr/Page_Load?mobile=" + a,
                type: "get",
                success: function (d) {
                    $("#ss").val(d);
                }
            })


        }
        countdown = setInterval(settime, 1000);
    }


    var count = 60;
    function settime() {
        $("#btn").attr("disabled", true);
        $("#btn").removeAttr('onclick');
        $("#btn").addClass("btn-secondary");
        $("#btn").removeClass('btn-primary');
        $("#btn").val(count + "秒后获取");
        console.log('1');
        if (count == 0) {
            $("#btn").removeAttr("disabled");
            $("#btn").attr('onclick', "settimes();");
            $("#btn").addClass("btn-primary");
            $("#btn").removeClass('btn-secondary');
            $("#btn").val("获取验证码");
            clearInterval(countdown)
        }
        count--;
    }
</script>
